/* .card-img-top{
    padding: 15px;
    
} */

#img-card {padding: 15px;}
 body{
    background-color: aqua;
}

.card-title{
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-weight: 100;
    padding: 10px;
    text-align: center;
     
}
